.footer__container{
    position: sticky;
    padding: 2%;
    background-color: #fff;
    bottom: 0;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.footer__icons{
    font-size: 2vw;
}
.footer__container h4{
    padding: 0;
    margin: 0;
}
@media screen and (max-width:800px) {
    .footer__icons{
        font-size: 5vw;
    }
}