.header__container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 1% 2%;
}
.header__right{
    flex: 0.15;
    display: flex;
    justify-content: space-around;
}
.header__icons__right{
    margin-right: 2%;
}
.icons{
    font-size: 2vw;
}
@media screen and (max-width:800px) {
    .header__container{
        padding: 2%;
    }
    .icons{
        font-size: 5vw;
    }
    .header__right{
        flex: 0.3;
    }
}